In [5]:
import pandas as pd

import numpy as np

In [6]:
days=pd.Series(['monday','tuesday','wednesday'])
print(days)

0       monday
1      tuesday
2    wednesday
dtype: object

In [7]:
#SERIES WITH NUMPY ARRAY
days_list=np.array(['monday','tuesday','wednesday'])
numpy_days= pd.Series(days_list)
print(numpy_days)

0       monday
1      tuesday
2    wednesday
dtype: object

days=pd.Series(['monday','tuesday','wednesday'],index=['a','b','c'])

In [8]:
days=pd.Series(['monday','tuesday','wednesday'],index=['a','b','c'])
days

a       monday
b      tuesday
c    wednesday
dtype: object

In [9]:
days1 = pd.Series({'a':'monday','b':'tuesday','c':'wednesday'})
print (days1)

a       monday
b      tuesday
c    wednesday
dtype: object

In [18]:
days[0]

'monday'

In [19]:
days[1:]

b      tuesday
c    wednesday
dtype: object

In [21]:
days1['c']

'wednesday'

In [11]:
print(pd.DataFrame())

Empty DataFrame
Columns: []
Index: []

In [18]:
#CREATING A DATAFRAME FROM A DICTIONARY

df_dict = {'Country':['Ghana','Kenya','Nigeria','Togo'],
          'Capital':['Accra', 'Nairobi', 'Abuja', 'Lome'],
           'Population':[10000,8500,350000,12000],
           'Age':[60,70,80,75]
          }
df=pd.DataFrame(df_dict, index= [2,4,6,8])

#CREATING A DATAFRAME FROM A LIST

df_list=[['Ghana','Accra',10000,60],
        ['Kenya','Nairobi',8500,70],
        ['Nigeria','Abuja',350000,80],
        ['Togo','Lome',12000,75]]

df1=pd.DataFrame(df_list,columns=['Country','Capital','Population','Age'],
                 index=[2,4,6,8])
df

   Country  Capital  Population  Age
2    Ghana    Accra       10000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja      350000   80
8     Togo     Lome       12000   75

In [19]:
df.at[6,'Country']

'Nigeria'

In [23]:
#select the row with index 1
df.iloc[1]

Country         Kenya
Capital       Nairobi
Population       8500
Age                70
Name: 4, dtype: object

In [24]:
df.iat[3,1]

'Lome'

In [25]:
#select the row with label 8
df.loc[8]

Country        Togo
Capital        Lome
Population    12000
Age              75
Name: 8, dtype: object

In [26]:
url= 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fd =pd.read_csv(url,error_bad_lines=False)
fd.describe(include='all')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_1994_12_1_0_7,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [27]:
#check for missing values

fd.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64